<div class="filter-container">
    <form action="/filter" method="post">
        <label for="pageSize">Results/Page</label>
        <select name="pageSize" id="pageSize">
            <option value="<%= session[:filters]["pageSize"] %>">Products/Page</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            </select>

        <label for="salePrice">Price</label>
        <select name="salePrice" id="salePrice">
            <option value="<%= session[:filters]["salePrice"] %>">Select Price:</option>
            <option value="<=10">$ < $10</option>
            <option value="<=15">$ < $15</option>
            <option value="<=50">$ < $50</option>
            <option value="<=100">$ < $100</option>
            <option value=">=100">$ > $100</option>
            </select>

        
        <label for="customerReviewAverage">Avg. Review</label>
        <select name="customerReviewAverage" id="">
            <option value="<%= session[:filters]["customerReviewAverage"] %>">Filter Rating:</option>
            <option value="=1">1</option>
            <option value=">=2">2</option>
            <option value=">=3">3</option>
            <option value=">=4.5">4.5</option>
            <option value="=5">5</option>
            </select>

        <label for="customerReviewCount">Rev. Count</label>
        <select name="customerReviewCount" id="">
            <option value="<%= session[:filters]["customerReviewCount"] %>">Review Count</option>
            <option value=">=100">100+</option>
            <option value=">=200">200+</option>
            <option value=">=1000">1000+</option>
            </select>
        
        <label for="inStorePickup">In-Store/Online</label>
        <select name="inStorePickup" id="">
            <option value="<%= session[:filters]["inStorePickup"] %>">In Store/Online</option>
            <option value="=true">Available In Store</option>
            <option value="=false">Online Only</option>
            </select>

        <button class="filter_button" type="submit">Filter</button>
    </form>
</div>