
<% @data[:products].each do |product| %>
    <section class="product-card">
                <img src="<%= product['image'] %>" alt="Product Image">
                <h3 class="product-title-visible"><%= product['name'] %></h3>
                <p class="product-savings-visible">$<%= product['dollarSavings'] %> off</p>
                <span>SKU: <%= product['sku'] %></span>
                <a href="<%= product['url'] %>">Buy Now</a>
                <p>Average Customer Review: <%= product['customerReviewAverage'] %></p>
                <p>Last Price Changed: <%= product['priceUpdateDate'] %></p>
                <p>Current Price: $<%= product['salePrice'] %></p>
                <p>Savings: $<%= product['dollarSavings'] %></p>

    </section>
<% end %>