<div class="row">
    <% @data[:products].each do |product| %>
        <div class="col-md-4 col-lg-2">
            <div class="card">
                <img class="img-thumbnail img-fluid" src="<%= product['image'] %>" alt="Product Image">
                <span ><%= product['name'] %></span>
                <span>SKU: <%= product['sku'] %></span>
                <span>Avg Review: <%= product['customerReviewAverage'] %></span>
                <p>Last Price Change: <%= product['priceUpdateDate'] %></p>
                <p>Price: $<%= product['salePrice'] %></p>
                <a class="btn" href="<%= product['url'] %>">-$<%= product['dollarSavings'].to_i %></a>
            </div>
        </div>
    <% end %>
</div>